.main_chat
  .main_chat__group_info
    .left_header
      .group_name
        test
      %ul.member_list
        Member :
        %li.member_name
          name
    .right_header
      .edit_btn
        = link_to "#", class: "Edit_btn" do
          Edit
  .main_chat__message_list
    .message_box
      .message_info
        .message_username
          shunta
        .message_date
          2020-07-21
      .message
        %p.message_content
          テストですよ
      .message_box
      .message_info
        .message_username
          shunta
        .message_date
          2020-07-21
      .message
        %p.message_content
          テストですよ
    .message_box
      .message_info
        .message_username
          shunta
        .message_date
          2020-07-21
      .message
        %p.message_content
          テストですよ

  .main_chat__message_form
    %form.message_contents
      .form_box
        %input.message_content{placeholder: "type a message"}
        %label{class: "input-box"}
          = icon('fas', 'image')
          %input{type: "file", class: "file"}
      %input.send_btn{ type: "submit",  value: "Send", class: "btn_configuration" }